{% extends 'base.html' %}
{% block title %} | About{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://previews.123rf.com/images/ilfede/ilfede1502/ilfede150200013/36760780-container-ship.jpg" alt="" width="350" height="auto">
    <h1 class="display-5 fw-bold">About Seagull</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi  quos qui cupiditate, error officia modi explicabo voluptatibus accusamus ipsum animi, esse quia odio. Libero, dignissimos nam aspernatur vitae, veniam tempora iusto recusandae placeat facere soluta ipsa nesciunt. Ipsa quod voluptatem nam.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Contact Us</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Careers</button>
        </div>
    </div>
  </div>
{% endblock %}