{% extends 'base.html' %}
{% block title %} | Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Products:</h1>
    <div class="d-flex my-2">
        <a href="{% url 'product_create' %}" class="btn btn-info btn-lg">Add Product</a>
    </div>
    <div class="row d-flex justify-content-center mt-4">
    {% for product in products %}
        <div class="card m-4" style="width: 20rem;">
            <div class="d-flex justify-content-center">
                <img src="{{product.img}}" class="card-img-top" alt="{{product.name}}" style="width: 20rem; height: auto;">
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h5 class="card-title">{{product.price}}</h5>
                <p class="card-text">{{product.description}}</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'product_detail' product.pk %}" type="button" class="btn btn-outline-success">View</a>
                    <a href="{% url 'product_update' product.pk %}" type="button" class="btn btn-outline-warning">Edit</a>
                    <a href="{% url 'product_delete' product.pk %}" type="button" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


