{% extends 'base.html' %}
{% block title %} | Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center mt-4">
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <div class="d-flex justify-content-center">
                <img src="{{product.img}}" class="card-img-top mt-2" alt="{{product.name}}" style="width: 18em; max-width: 200px; height: auto;">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h5 class="card-title">{{product.price}}</h5>
                <p class="card-text">{{product.description}}</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-success">Buy</button>
                    <button type="button" class="btn btn-outline-warning">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


